<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farmy</title>
  <link rel="stylesheet" href="css/login.css" />
  <link rel="stylesheet" type="text/css"
    href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
  <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
</head>

<body class="login">
  <div class="white">
    <div class="mainlogincom">
      <img class="logo" src="img/logo/mainlogo.png" alt="logo" />
      <div class="idpw">
        <!-- 인풋값 설정 -->
        <div class="id">
          <div class="idname">ID</div>
          <input class="placeholder" type="text" name="ID" placeholder="ID">
        </div>
        <div class="pw">
          <div class="pwname">PW</div>
          <input class="placeholder" type="password" name="password" placeholder="Password">
        </div>
      </div>

      <button type="button" class="button" onClick="location.href='index.html'">
        <h1 class="title" harf="index.html">login</h1>
    </div>
  </div>

  </div>
</body>

</html>